body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.7em 0;
  position: relative; /* Para permitir o posicionamento absoluto da logo */
}

.logo {
  max-width: 90px; /* Largura máxima da logo */
  height: auto; /* Altura automática para manter a proporção */
  position: absolute; /* Permite posicionar a logo */
  top: 5px; /* Distância do topo */
  left: 10px; /* Distância da esquerda */
  border-radius: 50%;
}

.test {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  width: 100px;
  height: auto;
}


main {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.gallery-item {
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: solid 1px #fcfcfc;
}

.gallery-item:nth-child(1) {
  grid-column: 2/2;
}

.gallery-item:nth-child(2) {
  grid-column: 3/3;
}

.gallery-item:nth-child(3) {
  grid-column: 4/4;
}

.gallery-item img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-item h3 {
  margin: 4px 0;
}

.gallery-item p {
  color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  position: relative;
  overflow: auto;
}

.modal-content h2 {
  margin: 0 0 10px;
}

/* Ajustes adicionais para a imagem de fundo */
@media (max-width: 60px) {
  body {
    background-size: contain; /* Ajusta a imagem para caber em telas menores */
  }
}

.details-images img {
  max-width: 100px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: red;
}
