<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja de Roupas</title>
    <link rel="stylesheet" href="./public/css/styles.css" type="text/css" />
    <script src="./public/js/script.js" defer></script>
  </head>
  <body>
    <header>
      <img src="https://via.placeholder.com/200" alt="Logo da Loja" class="logo" />
      <!-- Logo -->
      <h1 class="title">Loja de Roupas</h1>
      <img src="https://via.placeholder.com/200" alt="" class="test" />
    </header>
    <main>
      <div class="gallery"></div>
    </main>
    <footer>
      <h3>Entre em contato conosco:</h3>
      <address>
        <p>
          <strong>Endereço: </strong>
          Avenida Onze de Outubro, n° 123<br />
          Centro, Cidade / MG CEP: 12345-678
        </p>
        <div>
          <p><strong>Telefone: </strong>(55)55555-5555</p>
          <p>
            <strong>E-mail: </strong><a href="mailto:contato@nexus.store">contato@nexus.store</a>
          </p>
        </div>
        <div>
          <p>
            <strong>Horário de funcionamento: </strong>
          </p>
          <p>Segunda a Sexta: 08h00 às 17h00 - Sábado: 08h00 às 12h00</p>
        </div>
      </address>
      <p>© 2024 Nexus Store</p>
    </footer>

    <!-- Modal para detalhes do produto -->
    <div id="detailsModal" class="modal">
      <div class="modal-content"></div>
    </div>
  </body>
</html>
